<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-primary" (click)="
          addPerson('New Person - ' + (people.length + 1), people.length + 1)
        ">
        Click to add person to db
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-6 pt-2">
      <table class="table" *ngIf="people.length > 0">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of people">
            <td>{{ person.name }}</td>
            <td>{{ person.age }}</td>
            <td>
              <div type="button" class="btn btn-primary" (click)="deletePerson(person)">Delete</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
