<div class="container-fluid">
  <div class="d-flex flex-inline justify-content-between">
    <div class="navbar-header p-2">
      <a href="/" class="navbar-brand">Angular App</a>
    </div>
    <div class="d-flex align-items-center">
      <li class="nav navbar-nav p-2">
        <a href="/mongo" routerLinkActive="active">MONGO</a>
      </li>
      <li class="nav navbar-nav p-2">
        <a href="/store" routerLinkActive="active">NGRX</a>
      </li>
      <li class="nav navbar-nav p-2">
        <a href="/readme" routerLinkActive="active">Read Me</a>
      </li>
    </div>
  </div>
</div>
