<app-nav-bar></app-nav-bar>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container-fluid">
  <div class="row">
    <span class="col-12 pt-4">Build and start app</span>
  </div>
  <div class="row">
    <app-terminal-command
      [myCommand]="'npm install'"
      class="col-4"
    ></app-terminal-command>
    <app-terminal-command
      [myCommand]="'ng serve'"
      class="col-4"
    ></app-terminal-command>
  </div>
  <div class="row">
    <span class="col-12 pt-4">Build container and deploy to docker</span>
  </div>
  <div class="row">
    <app-terminal-command
      [myCommand]="'docker-compose build --no-cache'"
      class="col-4"
    ></app-terminal-command>
    <app-terminal-command
      [myCommand]="'docker-compose up --build'"
      class="col-4"
    ></app-terminal-command>
  </div>
  <div class="row">
    <span class="col-12 pt-4">Generate new components for your app</span>
  </div>
  <div class="row">
    <app-terminal-command
      [myCommand]="'ng generate module xyz'"
      class="col-4"
    ></app-terminal-command>
    <app-terminal-command
      [myCommand]="'ng generate component xyz'"
      class="col-4"
    ></app-terminal-command>
  </div>

  <div class="row">
    <app-mongo class="col-12"></app-mongo>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
