<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="panel panel-primary">
        <div class="panel-body">
          <form>
            <div class="form-group">
              <div class="d-flex justify-content-between">
                <div (click)="homeUpScore()" class="btn btn-primary">
                  Click if home team scores
                </div>
                <div (click)="awayUpScore()" class="btn btn-primary">
                  Click if away team scores
                </div>
                <div (click)="resetScore()" class="btn btn-primary">
                  Reset score board
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <table class="table table-hover" *ngIf="game">
        <thead>
          <tr>
            <td>Home Team</td>
            <td>Away Team</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ game.home }}</td>
            <td>{{ game.away }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
