<div class="container-fluid">
  <div class="text-bold h3">Current Game</div>
  <div class="row">
    <div class="col-6">
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <div (click)="homeUpScore()" class="btn btn-primary">
            Home team scored
          </div>
          <div class="p-2">{{'Home team score - ' + game.home}}</div>
        </div>
        <div class="d-flex align-items-center">
          <div (click)="awayUpScore()" class="btn btn-primary">
            Away team scored
          </div>
          <div class="p-2">{{'Away team score - ' + game.away}}</div>
        </div>
        <div class="d-flex justify-content-between">
          <div (click)="resetScore()" class="btn btn-primary">
            Reset score board
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-bold h3 pt-4">Old Games</div>

  <div class="row">
    <div class="col-3">
      <div class="d-flex justify-content-between">
        <div
          (click)="addToRoster({ teamOneName: 'Home', teamOneScore: game.home, teamTwoName: 'Away', teamTwoScore: game.away })"
          class="btn btn-primary">
          Add game to roster
        </div>
        <div (click)="resetRoster()" class="btn btn-primary" *ngIf="teams.length > 0">
          Reset roster
        </div>
      </div>

      <table class="table table-hover" *ngIf="teams.length > 0">
        <thead>
          <tr>
            <td>Home Team</td>
            <td>Away Team</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of teams">
            <td>{{team.teamOneScore}}</td>
            <td>{{team.teamTwoScore}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
